<h1> Welcome, <%=@user.name%> </h1>

<div>
<h3>Reviewed Movies</h3>
<% @user.movies.each do |movie| %>
    <div><%= link_to movie.title, movie %></div>
<% end %>
</div>

<div>
<h3>Review a movie</h3>
<%= form_with model: @movie, url: new_movie_path, method: "get" do |f|%>
    <div>
        <%= f.label :title %>
        <input list="movies" name="title" id="title">
        <datalist id="movies">
            <%= Movie.all.each do |movie| %>
                <option value = "<%= movie.title %>">
            <% end %>
        </datalist>
    </div>
    <%= f.submit "Find Movie" %>
<% end %>
</div>