<h1> Welcome, <%=@user.name%> </h1>

<div>
Reviewed Movies
</div>

<div>
Top 5
</div>

<div>
Review a movie
<%= form_with model: @movie, url: new_movie_path, method: "get" do |f|%>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title%>
    </div>
    <%= f.submit %>
<% end %>
</div>