<h1> Welcome, <%=@user.name%> </h1>

<div>
Reviewed Movies
</div>

<div>
Top 5
</div>

<div>
Review a movie
<%= form_with model: @movie, url: new_movie_path, method: "get" do |f|%>
    <div>
        <%= f.label :title %>
        <input list="movies" name="title" id="title">
        <datalist id="movies">
            <%= Movie.all.each do |movie| %>
                <option value = "<%= movie.title %>">
            <% end %>
        </datalist>
    </div>
    <%= f.submit %>
<% end %>
</div>